<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mywebsite</title>
    style
     include ../fileread/style.css
     include ../fileread/styleabout.css

</head>

<body>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
        </nav>
    </div>
    <div class="nu"><h1>About Us</h1></div>
    <section class="ha">
        <img class="ok" src="../fileread/danceclass.jpg" alt="image">
    </section>
    <section class="ma">
        <div id="vi"><h1>The Company</h1></div>
        <div id="ra"><p>Shobana Jeyasingh Dance pushes the possibilities of dance beyond storytelling to stimulate thought, reaction and sensation through the movement of the human body. Complex, inquisitive, adventurous and always surprising, we challenge expectation, pushing possibilities to create dance pieces that uncover strange beauty.

        We never tread the same path twice. Past works have explored the complexities of human experience, science, classical painting, culinary trends and urban architecture. We use original design, music and technology to complement and counterpoint our dance, embracing harmony and tension.
            
        2019 marks the 30th anniversary of Shobana Jeyasingh Dance. To celebrate we’ve produced a podcast series with Guardian Dance Critic Sanjoy Roy called ‘Surface Tension’ which explores Shobana’s work and her immense contribution to the dance and cultural sector.</p></div>

    </section>
    <section class="an">
       <div class="at"><h1>Awards & Achivements</h1></div>
       <div class="ko"><p>2021:</p><p>
        A specially-staged version of Contagion included as part of Sadler’s Wells Dancing Nation programme, shown on BBC iPlayer.</p></div>
        <div class="ko"><p>2020:</p><p>
            A specially-staged version of Contagion included as part of Sadler’s Wells Dancing Nation programme, shown on BBC iPlayer.</p></div>
            <div class="ko"><p>2019:</p><p>
                A specially-staged version of Contagion included as part of Sadler’s Wells Dancing Nation programme, shown on BBC iPlayer.</p></div>
                <div class="ko"><p>2018:</p><p>
                    A specially-staged version of Contagion included as part of Sadler’s Wells Dancing Nation programme, shown on BBC iPlayer.</p></div>
                    <div class="ko"><p>2017:</p><p>
                        A specially-staged version of Contagion included as part of Sadler’s Wells Dancing Nation programme, shown on BBC iPlayer.</p></div>






        
    </section>
    <footer class="footer">
        <p>@all rights reserved 2021-2022</p>
        <p class="a">Designed by YOGESH SAINI</p>
    </footer>
</body>
</html>
