<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mywebsite</title>
    style
     include ../fileread/style.css

</head>

<body>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/join">Join Now</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/career">Careers</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
        </nav>
    </div>
    <div><h1>this is my carrers page</h1></div>
    <footer class="footer">
        <p>@all rights reserved 2021-2022</p>
        <p class="a">Designed by YOGESH SAINI</p>
    </footer>
</body>
</html>