<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mywebsite</title>
    style
     include ../fileread/style.css
     include ../fileread/stylecontact.css

</head>

<body>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
        </nav>
    </div>
    <div class="cont"><h1>Contact Us</h1> </div>
    <div class="adress">
        <p class="office"> Contact us via our main office at Rohini House, or see the team section for individual email addresses.</p>
        <p class="vi"><strong>General enquiries</strong></p>
        <p>Shobana Jeyasingh Dance</p>
        <p>Somerset House, New Wing</p>
        <p> Strand, London, WC2R 1LA</p>
        <p>+44 (0)20 7697 4444</p>
        <p> admin@shobanajeyasingh.co.uk</p>


        
    </div>
    <div class="quecon">
    <div class="query">
        <p>Facing Any Problem? Feel Free To Reach Us by Filling This Form Below</p>
    </div>

    <div class="con">
    <form action="/contact" class="forms" method="post">
        <input type="text"  class="ram" name="name" placeholder="enter your name">
        <input type="email" class="ram" name="email" placeholder="enter your emailid">
        <input type="number" class="ram" name="age" placeholder="enter your age">
        <input type="number" class="ram" name="phoneno" placeholder="enter your phone">
        <button class="btn">submit</button>
    
    
    </div>

    </div>
    <footer class="footer">
        <p>@all rights reserved 2021-2022</p>
        <p class="a">Designed by YOGESH SAINI</p>
    </footer>
</body>
</html>
