<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mywebsite</title>
    style
     include ../fileread/style.css

</head>

<body>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
        </nav>
    </div>
    <section class="bigphoto">

        <h1>Show Your Talent To World</h1>
        <p>Book Your Slot Today And Become A part Of This Wonderfull Dancing Journey </p>



    </section>
    <section class="cards">
        <div class="mission">
            <h1>Our Mission</h1>
        </div>
        <div class="mainbox">
            <div class="box">
                <p class="head">Quality Learning</p>
                <img id="img1" src="../fileread/dance6.png" alt="image">
                <p class="para">Ensuring Quality Driven learning with Daily Practice Sessions And Examine the
                    capabilities Of each Individual BY Weekly Examss</p>
            </div>
            <div class="box">
                <p class="head">Trained Instructors</p>
                <img id="img2" src="../fileread/dance2.png" alt="image">
                <p class="para">Best In Class Instructors Will Provide Excellent Support to Your Children So that they
                    can become a Better Version Of Themselves</p>
            </div>
            <div class="box">
                <p class="head">Expert Teaching</p>
                <img id="img3" src="../fileread/dance5.png" alt="image">
                <p class="para">Our Teachers Are One Of The Best Teaching People Across the world Who Has Came From the
                    Different Backgrounds</p>
            </div>
        </div>
    </section>
    <section class="sponso">
        <div class="miss">
            <h1>Our Sponsors</h1>
        </div>
        <div class="mainbox2">
            <div>
                <img src="../fileread/amazon.png" alt="image">
            </div>
            <div>
                <img src="../fileread/applelogo.jpg" alt="image">
            </div>
            <div>
                <img src="../fileread/bmw.jpg" alt="image">
            </div>
            <div>
                <img src="../fileread/samsung.png" alt="image">
            </div>
            <div>
                <img src="../fileread/zomato.jpg" alt="image">
            </div>

        </div>

    </section>

    <footer class="footer">
        <p>@all rights reserved 2021-2022</p>
        <p class="a">Designed by YOGESH SAINI</p>
    </footer>
</body>

</html>