<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mywebsite</title>
    style
     include ../fileread/style.css
     include ../fileread/styleservices.css

</head>

<body><div class="container">
    <nav class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/contact">Contact us</a></li>
        </ul>
    </nav>
</div>
<div class="co">
    <h1>Services</h1>
</div>
<section class="gr">
    <div class="ti">
        <img id="img2" src="../fileread/hiphop.jpg" alt="image">
        <p class="paras">HIPHOP</p>
    </div>



    <div class="ti">
        <img id="img2" src="../fileread/kathakali.jpg" alt="image">
        <p class="paras">KATHAKALI</p>
    </div>





    <div class="ti">
        <img id="img2" src="../fileread/ballet.jpg" alt="image">
        <p class="paras">BALLET</p>
    </div>



    </section>
    <section class="gr">
        <div class="ti">
            <img id="img2" src="../fileread/group.jpg" alt="image">
            <p class="paras">GROUP DANCE</p>
        </div>
           
        <div class="ti">
            <img id="img2" src="../fileread/rock.jpg" alt="image">
            <p class="paras">FREESTYLE</p>
        </div>
        
        <div class="ti">
            <img id="img2" src="../fileread/classical.jpg" alt="image">
            <p class="paras">CLASSICAL</p>
        </div>
    

        


    </section>
    <section class="gr1">
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus minus, itaque impedit suscipit exercitationem nesciunt explicabo modi voluptate eos illum molestiae voluptates quia dolor blanditiis, iusto esse velit aliquid placeat dolores voluptatum unde ratione accusamus deserunt nulla. Nihil quos tempora deleniti repellat aliquam illo quae aperiam quidem dolorem, ut cupiditate amet impedit maxime iure pariatur distinctio. Deleniti, mollitia! Est ut sequi dolorem laborum, iusto, ad reprehenderit nulla hic ipsam nisi consequatur fugit distinctio itaque? Quibusdam cupiditate, accusamus vel mollitia aut repellat tempora sed vero laudantium eos aliquid nisi excepturi. Excepturi, pariatur doloremque voluptate dolor aliquam cumque dicta dolore adipisci nulla.
        </p>
        </div>



    </section>

















    <footer class="footer">
        <p>@all rights reserved 2021-2022</p>
        <p class="a">Designed by YOGESH SAINI</p>
    </footer>
</body>
</html>